.news-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    width: 400px;
  }
  

  .limited-text {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
  
  .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }


  .avatar-container {

    margin-right: 5px;
    flex-grow: 1;
  }
  
  .button-container {

    margin-left: 140px;
    flex-grow: 10;

  }


  .container {
    max-width: 400px;
    display: flex;
   

  }

  .oval-button {
    width: 100px;
    height: 50px;
    border-radius: 25px; /* 使用按钮高度的一半作为圆角半径 */
    border: none;
    outline: none;
    background-color:bisque;
  }